.tweet-container {
    display: flex;
    flex-direction: column;
    width: 80%;
}

.tweet-container div {
    padding: 5px;
    margin: 5px;
    border: 1px solid black;
}

.tweet-header {
    display: flex;
}

.tweet-user-details {
    display: flex;
}

.tweet-user-details > a {
    margin: 0px 5px;
}

.tweet-user-details a > img {
    width: 45px;
    border-radius: 50%;
}

.tweet-user-details > #tweet-username {
    padding-top: 15px;
}

@media only screen and (max-width: 768px) {
    .tweet-header {
        flex-direction: column;
    }

    .spacer {
        display: none;
    }
}